.box--article {
    background: white;
    box-shadow: 4px 3px 11px #e4e4e4;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: black;
    border: 1px solid #f1f1f1;
}
.box--article .box__logo {
    padding: 2em 1em;
    padding-bottom: .5em;
}
.box--article .box__logo img {
    max-width: 40%;
}
.box--article .box__body {
    padding: 1em;
    padding-top: 0;
}
.box--article .box__body h3 {
    margin: 0;
    font-size: 1.7em;
    font-weight: normal;
}

.box--article .box__body-description {
    font-size: 1em;
}

.box--article .box__body-subtitle {
    font-size: 1.25em;
    margin: 0;
    margin-top: .5em;
}
.box__footer {
    padding: 1em;
    background: #f4f4f4;
    display: flex;
    align-items: center;
}

.box__footer > div {
    flex: 1;
}

.box__footer > div:last-child {
    text-align: right;
    font-size: 1em;
}

.box__footer div button {
    padding: 1em;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    background: none;
    border: 0;
    font-size: 1em;
    box-shadow: none;
    font-weight: normal;
    color: #0e79a5;
}
.article-grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
    justify-content: center;
}
.article-grid__item {
    flex: 1 0 auto;
    flex-wrap: wrap;
    margin-right: 1em;
    margin-bottom: 1em;
    max-width: 22em;
    display: none;
}

.article-grid__item.active {
    display: block;
}

.article-grid__item:nth-child(3n) {
    margin-right: 0;
}

.box--article:hover .box__footer button {
    background: #ececec;
}

.article-paginator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.article-paginator__item {
    padding: 1em;
    border: 1px solid #b1b1b1;
    margin-right: 1em;
    border-radius: 4px;
    color: blue;
    cursor: pointer;
}

.article-paginator__item.active {
    font-weight: bold;
    background: #eee;
    color: black;
    cursor: unset;
}  

.article-paginator__item:hover {
    background: #f4f4f4;
}

.article-paginator__item.active:hover {
    background: #eee;
}

@media (max-width: 660px) {
    .article-grid {
        padding: 1em;
    }
    .article-grid__item {
        max-width: 100%;
        margin-right: 0;
    }
}

.card--article {
    box-shadow: 1px 1px 5px #00000036;
    border: 1px solid #00000024;
    border-radius: 4px;
    display: block;
    text-decoration: none;
    color: #000;
}

.card__title > * {
    margin: 0;
}

.card__title {
    padding: 1em;
}

.card__actions-button {
    text-transform: uppercase;
    color: #158dc1;
    padding: 1em;
    display: inline-block;
}

.card__title p, .card__body > * {
    color: #444343;
}

.card__title h3 {
    margin-bottom: .25em;
}

.card__body {
    padding: 1em;
}

.card__body > *:last-child {
    margin-bottom: 0;
}

.card__body > *:first-child {
    margin-top: 0;
}

.card__media {
    height: 12em;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #ddd;
}

.card__media > * {
    max-width: 100%;
}